@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');  /* importation police titre NAV */
/****** header ***********/


.texte-raleway-titre {    /* police Gras */
    font-family: 'Raleway', sans-serif;
    font-weight: 700; /* Gras */
    font-size: 22px;
    margin-bottom: 5px;  /* enlever l'ecart entre les 2 <p> */
    
}

.texte-raleway {        /* Police text */
    font-family: 'Raleway', sans-serif,bold;
    font-size: 16px;
    margin-top: 0px;    /* enlever l'ecart entre les 2 <p> */
}



.header {
    display: flex;      /* Allignement flex Hébergements et Activités*/
    justify-content: space-between; /* espace entre les div  */
    align-items: flex-start; /* allignement  */
    padding-top: 30px;   /* marge extérieur  */
   
}
.logo {
    margin-left: -18px;  /* allignement de mon logo */
    max-width: 50px;  /* taille du logo */
    height: auto; /* La hauteur est automatiquement ajustée pour maintenir les proportions de l'image */
}
.nav-links {
    display: flex; /* espace entre les div  */
    gap: 20px;  /* espace */
    
}


.nav-link:hover {      /* couleur lorsque je passe la souris sur heber / activ */ 
    color: #0065FC; 
    position: relative; /* position */
}
.nav-link:hover::before {   /* lorsque je passe la souris, barre bleu au dessus d'hebergement / activité */
    content: ""; /* vide car :before */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: -20px;
    border-top: 2px solid #0065FC; /* bordure top a la selection + couleur*/
}






/***** NAV  *****/


.search-bar {
    display: flex;
    border-radius: 25px;
    padding: 10px;
    max-width: 20%; /*  limite la largeur de la search bar */
    margin-top: 35px;
   
}

.location-input {
    display: flex;    
    align-items: center; /* Ajouté pour centrer le logo de localisation */
    background-color: lightgrey;
    border-radius: 15px 0 0 15px;
    flex-grow: 1;
        
}

.fa-solid{
    color: black;
}

.fa-location-dot {
    margin-right: 15px;
    padding-left: 15px;
    
}



input[type=text] {
    border: 1px solid rgba(0,0,0,0.1); /* bordures presque transparentes */
    padding: 13px;          /*  largeur pour la recherche   */
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 18px;
}

input[type=text]::placeholder, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 18px;
}


button {
    padding: 10px 20px; 
   border-radius: 0 15px 15px 0; 
   background-color: #0065FC; 
   color:white; 
   border: 1px solid rgba(0,0,0,0.1); /* bordures presque transparentes */
   
}
/***** barre de filtres ******/

.filtres {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}


.container{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 15px;
    align-items: center;

}

.element {
    border: 2px solid #D9D9D9;  /* Bordure + couleur */
    border-radius: 25px; /* Coins arrondis */
    padding: 10px; /* Espace à l'intérieur de la bordure */
}

.element:hover, .element:active {
    background-color: #DEEBFF; /* fond bleu selection et clic */
}

.i{
    border: 1px solid #D9D9D9;  /* Bordure + couleur */
    border-radius: 50% ;
    padding: 8px;  /* pour que le rond soit adapté au i */
    margin: 5px;
    width: 10px;  /* largeur du i pour pouvoir adapter le rond autour*/
    height: 10px;  /* hauteur du i */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}





/****** General ***********/


* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}