@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"); /* importation police titre NAV */
/****** header ***********/

.texte-raleway-titre {
  /* police Gras */
  font-family: "Raleway", sans-serif;
  font-weight: 700; /* Gras */
  font-size: 22px;
  margin-bottom: 5px; /* enlever l'ecart entre les 2 <p> */
  margin: 0;
}

.texte-raleway {
  /* Police text */
  font-family: "Raleway", sans-serif, bold;
  font-size: 16px;
  margin-top: 0px; /* enlever l'ecart entre les 2 <p> */
  margin-bottom: 0px;
}

.header {
  display: flex; /* Allignement flex Hébergements et Activités*/
  justify-content: space-between; /* espace entre les div  */
  align-items: flex-start; /* allignement  */
  padding-top: 12px; /* marge extérieur  */
}
.logo {
  max-width: 50px; /* taille du logo */
  height: auto; /* La hauteur est automatiquement ajustée pour maintenir les proportions de l'image */
}
.nav-links {
  display: flex; /* espace entre les div  */
  gap: 20px; /* espace */
}

.nav-link:hover {
  /* couleur lorsque je passe la souris sur heber / activ */
  color: #0065fc;
  position: relative; /* position */
}
.nav-link:hover::before {
  /* lorsque je passe la souris, barre bleu au dessus d'hebergement / activité */
  content: ""; /* vide car :before */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -20px;
  border-top: 2px solid #0065fc; /* bordure top a la selection + couleur*/
}

/***** NAV  *****/

.search-bar {
  display: flex;
  border-radius: 15px;
  margin-top: 35px;
  background-color: lightgrey;
  flex-grow: 1;
  width: fit-content;
  box-sizing: border-box;
  height: auto;
}

.fa-solid.fa-location-dot {
  /*  couleur noir localisation   */
  color: #000000;
}

.fa-location-dot {
  display: flex;
  width: auto;
  align-items: center; /*  centrer le logo localisation   */
  margin-right: 15px; /*  largeur encadrement localisation   */
  padding-left: 15px;
}

input[type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.1); /* bordures presque transparentes */
  padding: 13px; /*  largeur pour la recherche   */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: black;
}

input[type="text"]::placeholder,
button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  border-radius: 0 15px 15px 0;
  background-color: #0065fc;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1); /* bordures presque transparentes */
}

.button-text {
  display: inline; /* Afficher le texte par défaut */
}

.fa-solid.fa-magnifying-glass {
  display: none; /* Cacher l'icône de la loupe par défaut */
}

.search-button .fa-solid.fa-magnifying-glass {
  color: #ffffff;
}

/***** barre de filtres ******/
/***** barre de filtres ******/
/***** barre de filtres ******/

.filtres {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.container {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}

.elementflex {
  display: flex;
}

.element {
  border: 2px solid #d9d9d9; /* Bordure + couleur */
  border-radius: 25px; /* Coins arrondis */
  padding: 10px; /* Espace à l'intérieur de la bordure */
  font-size: 17px;
  font-weight: 700;
}

.element:hover,
.element:active {
  background-color: #deebff; /* fond bleu selection et clic */
}

.i {
  border: 1px solid #d9d9d9; /* Bordure + couleur */
  border-radius: 50%;
  padding: 8px; /* pour que le rond soit adapté au i */
  margin: 5px;
  width: 10px; /* largeur du i pour pouvoir adapter le rond autour*/
  height: 10px; /* hauteur du i */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/****** General ***********/

.hebergements-and-populaires {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footerbloc {
  padding-top: 35px;
}

/** Création des card // Hébergement à Marseille **/

.afficher {
  /** text en bas de page **/
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  align-items: flex-end;
  margin-top: 30px;
}

/** polices des cartes **/

.cartes h2 {
  padding-top: 4px;
  font-size: 16px;
  margin: 0;
}

.texte-raleway2 {
  /* Police textes cartes */
  /* Police text */
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin-top: 8px; /* ecart autour du text top et bot <p> */
  margin-bottom: 8px;
}

/***** cartes *****/

.cartesbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.cartes {
  background-color: #ffffff;
  border-radius: 20px; /* coins arrondis */
  padding: 5px;
  margin-top: 30px;
  height: 200px; /* hauteur de la carte */
  overflow: hidden; /* pour que l'image ne dépasse pas les coins arrondis */
  padding-bottom: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* bordure transparante ( ombres) */
}

.cartes img {
  width: 100%; /** taille de l'image dans le cadre **/
  height: 55%; /* hauteur de l'image */
  object-fit: cover; /** ne dépasse pas du cadre **/
  border-radius: 20px 20px 0 0; /** radius **/
}

/** Activités à Marseille  **/
/** Activités à Marseille  **/
/** Activités à Marseille  **/

.Activite {
  padding: 30px;
}

.cartesactiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes de largeur égale */
  grid-gap: 30px;
}

.cartesact {
  background-color: #ffffff;
  border-radius: 20px; /* coins arrondis */
  margin-top: 30px;
  overflow: hidden; /* pour que l'image ne dépasse pas les coins arrondis */
  padding-bottom: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* bordure transparante ( ombres) */
  border-radius: 20px; /* coins arrondis */
}

.cartesact h2 {
  padding-left: 19px;
  padding-right: 19px;
}

.cartesact img {
  width: 100%; /** largeur img **/
  height: 380px; /** hauteur imposé **/
  object-fit: cover; /** ne dépasse pas du cadre / adaptation de l'image **/
  border-radius: 20px 20px 0 0; /** radius **/
}

/** footer  **/
/** footer  **/
/** footer  **/

.footerbloc {
  margin-top: 35px;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes de largeur égale */
}

.bloc {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 20px;
}
.bloc .texte-raleway {
  margin-top: 15px;
}

/** code déja integré **/
/** code déja integré **/
/** code déja integré **/
/** code déja integré **/
/** code déja integré **/

* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/****** Media queries ***********/
/****** Media queries ***********/

/* Pour les PC ( grand ecran ) */
@media (min-width: 1025px) {
  /* pour les ecran de min 1025px */
  body {
    max-width: 1440px; /* affichage max en 1440px */
    margin: 0 auto; /* Centrer le contenu et ajouter des marges blanches sur les côtés */
  }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /* css pour les tablette de taille max 1024 px et min 768 */

  .hebergements-and-populaires {
    flex-direction: column;
  }

  /*  barre de filtres */
  /*  barre de filtres */

  .container {
    flex-direction: column; /*  colonne pour que le filtre soit positionné au dessus  */
    gap: 20px; /* espace avec les elements  */
    align-items: flex-start; /* a gauche */
  }

  .cartesact img {
    width: 100%; /** largeur img **/
    height: 160px; /** hauteur imposé divisé par 2 **/
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* css pour les telephones de taille max 768  */

  nav {
    /* gestion des marges / ajustement avec les @media */
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    flex-direction: column; /* Change la direction du flex pour empiler les éléments */
    align-items: center; /* Centre les éléments */
  }

  /* Nav hebergement / activité  */
  /* Nav hebergement / activité  */
  /* Nav hebergement / activité  */

  .nav-links {
    width: 100%; /* Ajoute une largeur de 100% pour prendre toute la largeur de l'écran */
    gap: 0;
  }

  .nav-link {
    border-bottom: 2px solid #f2f2f2; /* bordure grise en bas  */
    padding: 15px 0; /*  padding text / bar */
    flex: 1;
    text-align: center;
  }

  .nav-link:hover::before {
    display: none; /* Supprime la barre bleue au-dessus des liens lors du survol */
  }

  .nav-link:hover {
    border-bottom: 2px solid #0065fc; /* bordure bleu en dessous des liens  */
    color: #0065fc;
  }

  /* text trouver + barre /form recherche */
  /* text trouver + barre /form recherche */
  /* text trouver + barre /form recherche */
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
  }
  .search-bar {
    width: 100%;
  }

  .search-bar input[type="text"] {
    width: 767px;
  }

  .button-text {
    display: none; /* Cacher le texte */
  }

  .fa-solid.fa-magnifying-glass {
    display: inline; /* Afficher l'icône de la loupe lorsque l'écran est petit */
  }

  /*  barre de filtres */
  /*  barre de filtres */
  /*  barre de filtres */

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container .filtres {
    display: block;
    margin: 0;

    margin-right: 339px;
  }

  .elementflex {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crée deux colonnes de taille égale */
    row-gap: 20px;
    flex-grow: 1;
  }

  /*
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
*/

  /*  ordre d'affichage */
  /*  ordre d'affichage */

  .hebergements {
    order: 2; /*  ordre d'affichage  apres populaire*/
  }

  /*  Populaire */
  /*  Populaire */
  /*  Populaire */

  .hebergements-and-populaires section {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
  }
  .populaires {
    order: 1;
    margin-top: 0;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column; /*  card en colonne pour affichage tel */
    align-items: stretch;
    width: 100%;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card {
    margin-top: 15px;
  }

  /*  hebergements */
  /*  hebergements */
  /*  hebergements */

  section.hebergements {
    background-color: white;
    padding: 20px;
  }

  .cartesbox {
    grid-template-columns: 1fr; /*grid 1 par colonne*/
    box-sizing: border-box;
    grid-gap: 15px;
  }

  .cartesbox .cartes {
    margin-top: 0;
    overflow: visible;
  }
  .cartes img {
    height: 50%;

    object-fit: cover;
  }

  .cartes {
  }
  /*  Activité a marseille */
  /*  Activité a marseille */
  /*  Activité a marseille */

  .Activite {
    padding: 30px;
  }

  section.Activite {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cartesactiv {
    grid-template-columns: 1fr; /*grid 1 par colonne*/
    grid-gap: 15px;
  }

  /*  Filtres */
  /*  Filtres */
  /*  Filtres */

  /*
  .filtres {
  }

  .i {
  }
*/

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /*  Footer */
  /*  Footer */
  /*  Footer */
  .footerbloc {
    grid-template-columns: 1fr; /*grid 1 par colonne*/
    padding: 30px;
  }
}
/* largeur minimale de mon site*/
@media (max-width: 320px) {
}

@media (max-width: 320px) {
  body {
    display: none;
  }
}
